<ion-header>
    <ion-toolbar color="warning">
        <ion-title>users</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
    <!-- <div class="chat" *ngFor="let chat of chatRef | async">

        <div class="me">
            {{chat.Name}}

        </div>

    </div> -->
    <!-- <ion-searchbar [(ngModel)]="searchstring" (input)="searchuser($event)" placeholder="Search"></ion-searchbar> -->

    <ion-list lines="none">
        <ion-list>
            <ion-item-sliding *ngFor="let user of users ">
                <ion-item *ngIf="currentuser != user.uid">
                    <ion-avatar>
                        <div class="profile-image">
                            <div *ngIf="user.photoURL =='' ">
                                <img src="/assets/img/avatar.svg">
                            </div>
                            <div *ngIf="user.photoURL !='' ">
                                <img data-src="{{user.photoURL}}">
                            </div>
                        </div>
                        <!-- <img src="{{user.photoURL}}"> -->
                    </ion-avatar>
                    <h2 style="padding-left:20px;">{{user.displayName}}</h2>
                    <ion-icon name="person-add" (click)="sendreq(user)" slot="end" color="dark"></ion-icon>
                </ion-item>
                <!-- <ion-item-options slide="left">
                    <ion-button color="primary" >
                        <ion-icon name="person-add"></ion-icon>
                        Add
                    </ion-button>
                </ion-item-options> -->

            </ion-item-sliding>
        </ion-list>
    </ion-list>
</ion-content>